@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
html {
  box-sizing: inherit;
  font-size: 62.5%;
  scroll-behavior: smooth;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-weight: 300;
  line-height: 1.6; }

@keyframes remove_line {
  0% {
    border-right: none; }
  100% {
    border-right: none; } }

@keyframes hide_content {
  0% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes typing {
  0% {
    max-width: 0; }
  100% {
    max-width: 100%; } }

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #f6b92b; } }

@media (max-width: 1800px) {
  section h2 {
    font-size: 6rem;
    text-align: center; }
  section .text-container {
    flex-direction: column;
    width: 100%; } }

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease; }

.reveal.active {
  transform: translateY(0);
  opacity: 1; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  margin-top: 4rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: white;
  color: black; }
  .btn--white::after {
    background-color: white; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.header {
  color: white;
  display: grid;
  height: 100vh;
  width: 100%;
  position: relative;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(6, 16vh);
  align-items: center;
  justify-items: center; }
  .header__text_name {
    grid-row: 3 / span 2;
    grid-column: 1;
    text-align: center; }
  .header__img {
    grid-row: 3 / span 3;
    grid-column: 2;
    height: 40rem;
    background-image: radial-gradient(black, #004a5d 20%, transparent 70%); }

.mainmenu {
  grid-row: 1;
  grid-column: 2; }
  .mainmenu a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 1.2rem;
    font-size: 1.7rem; }

.heading__primary {
  color: #008600;
  font-size: 2.5rem;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  max-width: auto;
  border-right: 0.12em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */ }
  .heading__primary_main {
    display: inline-block;
    animation: typing 1.5s steps(40, end), remove_line 0.1s 1s infinite; }
  .heading__primary_sub {
    animation: hide_content 1.5s step-start, typing 1.5s 1.5s steps(40, end), blink-caret 0.75s step-end infinite; }

.heading__secondary {
  grid-row: 6 / span 2;
  grid-column: 1 / span 2;
  font-size: 1.3rem;
  text-align: center; }

.flexbox {
  display: flex;
  grid-row: 1;
  grid-column: 1; }

section {
  min-height: 100vh;
  width: 100%;
  position: relative;
  margin-bottom: 10rem; }
  section h1 {
    font-size: 18rem;
    color: rgba(255, 255, 255, 0.2);
    text-align: center;
    text-transform: uppercase;
    max-width: 100%;
    position: relative; }
  section h2 {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 5rem;
    color: #f6b92b; }
  section .overlay {
    position: absolute;
    top: 17vh;
    color: #f6b92b; }
    section .overlay-1 {
      left: 40vw; }
    section .overlay-2 {
      left: 35vw; }

.text_container {
  display: flex;
  margin: 5rem;
  padding: 2rem;
  border-radius: 5%;
  width: 60rem;
  font-size: 1.7rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(147deg, #0a3b21 0%, #000000 74%); }
  .text_container .p {
    text-align: center; }

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-down {
  flex-direction: column; }

.resume__picture {
  width: 45rem;
  height: 60rem;
  margin-right: 15rem;
  border-radius: 2%;
  transform: translateX(-4rem) scale(0.9);
  backface-visibility: hidden;
  transition: all .3s;
  position: relative; }

.resume__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-38rem, 0);
  text-transform: uppercase;
  color: white;
  font: bold 2rem white;
  text-align: center;
  opacity: 0;
  transition: all .3s;
  backface-visibility: hidden; }

.resume:hover .resume__caption {
  opacity: 1;
  transform: translate(-38rem, -50%); }

.resume:hover .resume__picture {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(50%); }

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px; }

input[type=radio] {
  display: none; }

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer; }

.project_container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px; }

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover; }

#item-1:checked ~ .cards #song-4,
#item-2:checked ~ .cards #song-5,
#item-3:checked ~ .cards #song-6,
#item-4:checked ~ .cards #song-7,
#item-5:checked ~ .cards #song-1,
#item-6:checked ~ .cards #song-2,
#item-7:checked ~ .cards #song-3 {
  transform: translatex(100%) scale(0.1);
  opacity: 0;
  z-index: 0; }

#item-1:checked ~ .cards #song-5,
#item-2:checked ~ .cards #song-6,
#item-3:checked ~ .cards #song-7,
#item-4:checked ~ .cards #song-1,
#item-5:checked ~ .cards #song-2,
#item-6:checked ~ .cards #song-3,
#item-7:checked ~ .cards #song-4 {
  transform: translatex(-100%) scale(0.1);
  opacity: 0;
  z-index: 0; }

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-4,
#item-3:checked ~ .cards #song-5,
#item-4:checked ~ .cards #song-6,
#item-5:checked ~ .cards #song-7,
#item-6:checked ~ .cards #song-1,
#item-7:checked ~ .cards #song-2 {
  transform: translatex(80%) scale(0.6);
  opacity: .1;
  z-index: 0; }

#item-1:checked ~ .cards #song-6,
#item-2:checked ~ .cards #song-7,
#item-3:checked ~ .cards #song-1,
#item-4:checked ~ .cards #song-2,
#item-5:checked ~ .cards #song-3,
#item-6:checked ~ .cards #song-4,
#item-7:checked ~ .cards #song-5 {
  transform: translatex(-80%) scale(0.6);
  opacity: .1;
  z-index: 0; }

#item-1:checked ~ .cards #song-7,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2,
#item-4:checked ~ .cards #song-3,
#item-5:checked ~ .cards #song-4,
#item-6:checked ~ .cards #song-5,
#item-7:checked ~ .cards #song-6 {
  transform: translatex(-40%) scale(0.8);
  opacity: .4;
  z-index: 1; }

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-4,
#item-4:checked ~ .cards #song-5,
#item-5:checked ~ .cards #song-6,
#item-6:checked ~ .cards #song-7,
#item-7:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: .4;
  z-index: 1; }

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3,
#item-4:checked ~ .cards #song-4,
#item-5:checked ~ .cards #song-5,
#item-6:checked ~ .cards #song-6,
#item-7:checked ~ .cards #song-7 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 2; }
  #item-1:checked ~ .cards #song-1 img,
  #item-2:checked ~ .cards #song-2 img,
  #item-3:checked ~ .cards #song-3 img,
  #item-4:checked ~ .cards #song-4 img,
  #item-5:checked ~ .cards #song-5 img,
  #item-6:checked ~ .cards #song-6 img,
  #item-7:checked ~ .cards #song-7 img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47); }

.project {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  padding: 3rem; }
  .project__title {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 2rem; }
  .project__description {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem; }
  .project--1 {
    background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%); }
  .project--2 {
    background-image: linear-gradient(147deg, #7300a0 0%, #000000 74%); }
  .project--3 {
    background-image: linear-gradient(147deg, #8b007b 0%, #000000 74%); }
  .project--4 {
    background-image: linear-gradient(147deg, #ab0058 0%, #000000 74%); }
  .project--5 {
    background-image: linear-gradient(147deg, #932700 0%, #000000 74%); }
  .project--6 {
    background-image: linear-gradient(147deg, #eb8900 0%, #000000 74%); }
  .project--7 {
    background-image: linear-gradient(147deg, #ebb800 0%, #000000 74%); }

.section__contact {
  display: flex; }

.info {
  font-size: 1.4rem;
  width: 40rem;
  height: auto;
  margin: 5rem;
  margin-top: 0;
  margin-left: 13rem;
  padding: 0 2rem; }
  .info__icon {
    fill: white;
    width: 4rem;
    height: 4rem;
    stroke-width: 0; }
  .info a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem; }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 200%;
  display: block;
  transition: all .5s;
  box-sizing: border-box; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #008600; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff640a; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .5s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form input[type=submit] {
  background-color: #f6b92b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
  .form input[type=submit]:hover {
    background-color: orange; }
